<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <style>
        .carta{
            margin-left: 3px;
        }
    </style>
</head>
<body>


    <h1 th:text="${titulo}"></h1>
    <ul>

        <li th:each="dato : ${data}">
            <h1><span th:text="${dato.getPareja().mostrar()}"></span>
                <span th:text="${dato.getPorcentaje()}"></span>
                <span th:text="${dato.getSaldo()}"></span>
            </h1>
        </li>
    </ul>





</body>
</html>