<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <style>
        .carta{
            margin-left: 3px;
        }
    </style>
</head>
<body>


    <h1 th:text="${titulo}"></h1>
    <ul>
        <li th:each="numero : ${estadistica.getGanados()}">
            <h1 th:text="${numero}"></h1>
        </li>

        <li>
            <h1 th:text="${estadistica.getPreflopSeguir().get(0)}"></h1>
        </li>
        <li>
            <h1 th:text="${estadistica.getTotal()}"></h1>
        </li>
        <li>
            <h1 th:text="${estadistica.getPorcentaje()}"></h1>
        </li>
        <li>
            <h1 th:text="${estadistica.getSaldos().get(0)}"></h1>
        </li>
    </ul>





</body>
</html>